<div>
    Test Name:{{result.testName}}<br>
    Total Questions: {{result.quesAnsArray.length}}<br>
    Correct:{{result.correctCount}}<br>
    Incorrect:{{result.quesAnsArray.length - result.correctCount}}<br>
</div>