<div>
    <h2>{{selectedTest.name}} Test</h2>
    {{selectedTest.questions[currentQuestion].text}}<br>
    <label ng-repeat="option in selectedTest.questions[currentQuestion].options">
    <input type="radio" ng-click="saveSelectedOption($index)" ng-value="option" /> {{option}}
    </label>
    <button ng-show="currentQuestion < selectedTest.questions.length - 1" ng-click="currentQuestion = currentQuestion + 1">Next</button>
    <button ng-show="currentQuestion == selectedTest.questions.length - 1" ng-click="saveResult()">Finish</button>
</div>